<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>天气查询程序</title>
<style>
body {margin:0; padding:0; font-family:"Microsoft YaHei";}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, img, p, input {margin:0; padding:0;}

.basic_div {width:100%; min-width:500px;}
.center_div {width:500px; margin:0 auto; overflow:hidden;}
.center_div h1 {height:120px; line-height:120px;  font-size:40px}
#center_ul li{display:block; float:left; margin:5px;}
</style>
</head>

<body>
<div class="basic_div">
    <div class="center_div">
    <center><h1>天气查询系统</h1></center>
    <ul id="center_ul">
        <li><p>城市：</p></li>
        <form method="post" action="/">
        {% csrf_token %}
        <li><input type="text" name="city"/></li>
        <!--按钮名字相同，以便服务器做判断-->
        <li><input type="submit" value="查询" name="button"/></li>
        <li><input type="submit" value="历史" name="button"/></li>
        <li><input type="submit" value="帮助" name="button"/></li>
        </form>
    </ul>
    </div>
    <br/>
    <center>
    	<!--<p>{{ rlt }}</p>-->
       {% if display_content %}
           <p>{{display_content}}</p>
       {% elif history_text %}
       	   {% for i in history_text %}
            	<p>{{i}}</p>
           {% endfor %}
       {% elif help_text %}
           {% for i in help_text %}
            	<p>{{i}}</p>
           {% endfor %}
       {% else %}
       {% endif %}
    </center>
</div>
</body>
</html>
